<div class="container">    
  <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
    <div class="panel panel-info" >
      <div class="panel-heading">
          <center><div class="panel-title">Registro de Usuario</div></center>                        
    </div>     
    <div style="padding-top:30px" class="panel-body" >
      <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
        <form id="registerform" class="form-horizontal" role="form" ng-submit="rc.submit()">
          <div style="margin-bottom: 25px" class="input-group">
             <label for="Usuario:" class="col-sm-1 control-label">Usuario:</label>
            <input id="register-usuario" type="text" class="form-control" name="usuario" value="" placeholder="Usuario.">                                        
          </div>
          <div style="margin-bottom: 25px" class="input-group">
             <label for="Nombre" class="col-sm-1 control-label">Nombre:</label>
              <input id="register-nombre" type="text" class="form-control" name="nombre" value="" placeholder="Nombre">                                        
          </div>
          <div style="margin-bottom: 25px" class="input-group">
             <label for="Apellido" class="col-sm-1 control-label">Apellido:</label>
            <input id="register-apellido" type="text" class="form-control" name="apellido" value="" placeholder="Apellido">                                        
          </div>
          <div style="margin-bottom: 25px" class="input-group">
             <label for="Dirección" class="col-sm-1 control-label">Dirección:</label>
            <input id="register-direccion" type="text" class="form-control" name="direccion" value="" placeholder="Direccion">                                        
          </div>
          <div style="margin-bottom: 25px" class="input-group">
             <label for="Email" class="col-sm-1 control-label">Email</label>
            <input id="register-mail" type="text" class="form-control" name="mail" value="" placeholder="Email">                                        
          </div>
          <div style="margin-bottom: 25px" class="input-group">
             <label for="telefono" class="col-sm-1 control-label">Telefono:</label>
            <input id="register-telefono" type="text" class="form-control" name="telefono" value="" placeholder="Telefono">                                        
          </div>
          <div style="margin-bottom: 25px" class="input-group">
             <label for="password" class="col-sm-1 control-label">Password:</label>
            <input id="register-password" type="text" class="form-control" name="password" value="" placeholder="Password">                                        
          </div>
          <div style="margin-bottom: 25px" class="input-group" ng-value="rc.obtenerLocalidad">
             <label for="cuidad" class="col-sm-1 control-label">Cuidad:</label>
              <select id="register-cuidad_id" type="text" class="form-control" name="cuidad_id" value="" placeholder="cuidad">                                        
            </div>
        </form>
    </div>
  </div>  
</div>