
<div class="panel-body message">
    <div class="container">
    <form class="form-horizontal" ng-submit="nc.submit()">
    <p class="text-center">Nuevo</p>
    <div class="form-group">
            <label for="para" class="col-sm-1 control-label">Para:</label>
            <div class="col-sm-11">
            <angucomplete-alt id="ex1"
                placeholder="Para"
                pause="100"
                selected-object="nc.form.remitente"
                local-data="nc.usuarios"
                search-fields="mail"
                title-field="mail"
                minlength="1"
                input-class="form-control form-control-small"/>
            </div>
        </div>
    <div class="form-group">
        <label for="cc" class="col-sm-1 control-label">CC:</label>
        <div class="col-sm-11">
            <input  class="form-control select2-offscreen" id="CC" ng-model="nc.form.CC" placeholder="CC">
        </div>
    </div>
    <div class="form-group">
        <label for="cco" class="col-sm-1 control-label">CCO:</label>
        <div class="col-sm-11">
            <input  class="form-control select2-offscreen" id="CCO" ng-model="nc.form.CCO" placeholder="CCO">
        </div>
    </div>
    <div class="form-group">
        <label for="asunto" class="col-sm-1 control-label">Asunto</label>
        <div class="col-sm-11">
            <input class="form-control select2-offscreen" id="asunto" ng-model="nc.form.asunto" placeholder="Asunto">
        </div>
    </div>
    <div class="form-group">
        <textarea class="form-control" id="mensaje" ng-model="nc.form.mensaje"  name="body" rows="10" placeholder="Redactar email"></textarea>
    </div>
    <button type="submit" class="btn btn-primary align-right">Enviar</button>
    <a href="/" class="btn btn-danger">Cancelar</a>

    <div class="alert alert-success" style="margin-top:18px;" ng-show="nc.success">
        <a href="#" class="close" aria-label="close" title="Cerrar" ng-click="nc.success=false">×</a>
        Se ha enviado correctamente el email
    </div>
    <div class="alert alert-danger" style="margin-top:18px;" ng-show="nc.error">
        <a href="#" class="close" aria-label="close" title="Cerrar" ng-click="nc.error=false">×</a>
        Se produjo un error, intente nuevamente.
    </div>
    </form>
    </div>
</div>
